@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: #e2e8f0;
  opacity: 10;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar {
  width: 5px;
  background: #1e293b;
  opacity: 10;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;

}