@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  background: #e2e8f0;
  opacity: 10;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 10px;
}

html.dark ::-webkit-scrollbar {
  width: 5px;
  background: #1e293b;
  opacity: 10;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: #334155;

}

html.dark .toast {
  background-color: #0f172a !important;
  color: #cbd5e1;
  border: 1px solid #334155;
}

.toast {
  max-width: 500px !important;
  transition: all 300ms linear;
  border: 1px solid white;
  padding: 4px 8px !important;
}